#Terraform workflow var

name: "Terraform Deployment var"
on:
  # Manual trigger
  workflow_dispatch:
  push:
    paths:
      - '*/**'
    branches: [ main ]
  pull_request:
    branches: [ main ]
defaults:
  run:
    shell: bash
jobs:
  terraform:
    name:   'Terraform'
    runs-on: ubuntu-latest
    environment: production
    env:
         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
       
    steps:
      - uses: actions/checkout@v2
       
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_wrapper: false
          
      - name: Terraform Init
        id: init
        run: |
           rm -rf .terraform
           terraform init
           
      - name: Terraform Plan
        id: plan
        run: |
          terraform plan -lock=false
          
           
                
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        id: apply
        run: terraform apply -auto-approve -lock=false
